{% extends "layout.html" %}

{% block title %}
    Edit
{% endblock %}

{% block main %}
    <form action="/edit" method="post">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="checkbox_1" name="checkbox_1" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="name 1" id="name_1" name="name_1" aria-label="Text input with checkbox">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="checkbox_2" name="checkbox_2" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="name 2" id="name_2" name="name_2" aria-label="Text input with checkbox">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="checkbox_3" name="checkbox_3" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="name 3" id="name_3" name="name_3" aria-label="Text input with checkbox">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="checkbox_4" name="checkbox_4" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="name 4" id="name_4" name="name_4" aria-label="Text input with checkbox">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="checkbox_5" name="checkbox_5" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="name 5" id="name_5" name="name_5" aria-label="Text input with checkbox">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="checkbox_6" name="checkbox_6" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="name 6" id="name_6" name="name_6" aria-label="Text input with checkbox">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="checkbox_7" name="checkbox_7" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="name 7" id="name_7" name="name_7" aria-label="Text input with checkbox">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="checkbox_8" name="checkbox_8" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="name 8" id="name_8" name="name_8" aria-label="Text input with checkbox">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="checkbox_9" name="checkbox_9" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="name 9" id="name_9" name="name_9" aria-label="Text input with checkbox">
          </div>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <div class="input-group-text">
                <input type="checkbox" id="checkbox_10" name="checkbox_10" aria-label="Checkbox for following text input">
              </div>
            </div>
            <input type="text" class="form-control" placeholder="name 10" id="name_10" name="name_10" aria-label="Text input with checkbox">
          </div>
          <button class="btn btn-primary" type="submit">Update</button>
    </form>

{% endblock %}