{% extends "layout.html" %}

{% block title %}
    Main
{% endblock %}
<script type="text/javascript">
        document.getElementById("one").style.display = "block";
</script>
{% block main %}
    <form action="/" method="post">
        {% for form in name %}
        <div  {{ form["hidden"] }}><p>{{ form["id"] }}. {{ form["name"] }}</p>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id={{ form["id"] }} name={{ form["id"] }} placeholder="answer" type="text">
        </div></div>
        {% endfor %}
        <button class="btn btn-primary" type="submit">Send</button>
    </form>
{% endblock %}